<div class="chat" ng-controller="chatPageController" layout="column" ng-cloak>


    <md-content flex layout-padding>
      <div layout="column" layout-align="top center">
        <div>
          <md-button ng-click="toggleLeft()" class="md-raised md-primary">
            Show Chat
          </md-button>
        </div>
      </div>
    </md-content>
    
  <section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Slack Overflow Chat</h1>
      </md-toolbar>

      <md-content layout-margin>
        
        <md-list>
          <md-list-item class="md-3-line">
            <div class="md-list-item-text profileText">
              <md-button ng-click="toggleLeft()" class="md-accent">
          Hide Chat
        </md-button>
          </md-list-item>
        </md-list>
        <md-content width="230px" height="470px"> 
        <iframe width="230px" height="470px" src="https://4ce5434a.ngrok.io"></iframe>
        </md-content>
      </md-content>
    </md-sidenav>

  </section>

      <div id="videoPlayer">
        <video style="height: 100px; position: absolute" ng-hide='ctrl.showVideo' id="localVideo" autoplay ng-hide='ctrl.showVideo'></video>
        <video style="height: 300px"id="remoteVideo" autoplay></video>
        <button id="startButton" ng-click='ctrl.start()'>Start</button>
        <button id="stopButton" ng-click='ctrl.stop()'>stop</button>
        <!--<button id="hangupButton">Hang Up</button>-->
      </div>

<div>
<img src="http://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=n33UrA2MzaxvBUYjnXME7N2YC5toKPLsYu">
  <BR><h3>
  Wallet Address: </h3> <h4>n33UrA2MzaxvBUYjnXME7N2YC5toKPLsYu<h4><br>
  <div id='websocket'>Monitoring...</div>
  </div>

  <section>
  <div ui-ace="{
    useWrapMode : true,
    showGutter: true,
    theme:'twilight',
    mode: 'xml',
    firstLineNumber: 1,
    onLoad: aceLoaded,
    onChange: aceChanged
  }"
    ng-keyUp="userInput()" style="height:200px" ng-model="aceModel"></div>
  </section>
  
  <input ng-model="ctrl.newMessage" type="text"> <button ng-click="ctrl.sendMessage()">send</button>
  <!--<button
        aria-label="Video"
        ng-click='ctrl.videoChat()'
        >
        VideoChat
      </button>-->

</div>