<div>

<h1>Testing</h1>
<video style="height: 150px; position: absolute" id="localVideo" autoplay ng-hide='ctrl.showVideo'></video>
<video id="remoteVideo" ng-hide='ctrl.showVideo' autoplay></video>
<button id="startButton" ng-click='ctrl.start()'>Start</button>
<button id="stopButton" ng-click='ctrl.stop()'>Stop</button>
<button id="hangupButton">Hangup</button>

<div>
  <button id="startButton">Start</button>
  <button id="callButton">Call</button>
  <button id="hangupButton">Hang Up</button>
</div>

</div>